body{
    background-color: rgb(142, 142, 142);
    /* margin: 50px 30px; */
}

.main-content{
    margin: 10px 30px;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    font-size: 64px;
    font-weight: bolder;
    color: rgb(145, 95, 30);
    margin-bottom: 50px;
}

.sketch{
    display: flex;
    gap: 32px;
}
.controls{
    display: flex;
    flex-direction: column;
    height: 700px;
    /* justify-content: space-between; */
    gap: 10px;
    align-items: center;
    font-size: 24px;
}
.grid{
    height:700px;
    width: 700px;
    background-color: white;
    border: 2px solid rgba(58, 58, 58, 0.812);
    box-shadow: 5px 5px 10px rgb(161, 134, 86);
    display: flex;
    flex-direction: column;
    align-items: stretch;

}


.ctrl-btn,.clr-btn{
    padding: 25px 50px;
    margin-bottom: 30px;
    border-radius: 50px;
    background-color: #fce2abb5;
    font-size: 24px;
    transition: all 0.8s ease;

}

input[type='color']{

    /* padding: 25px 50px; */
    margin-bottom: 30px;
    border-radius: 50%;
    border: none !important;
    align-self: center;
    height: 80px;
    width: 80px;
    background-color: transparent;

}

input[type='range']{
    -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
  height: 2px;
    background-color: rgb(60, 43, 26);
    margin-bottom: 30px;

}
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   /* margin-top: -12px; Centers thumb on the track */
   background-color: #fce2abb5;
   height: 2rem;
   width: 1rem;
   border-radius: 7px;    
}

.transform{
    background-color: rgb(156, 81, 48);
}

.dirs{
    margin-bottom: 50px;
    align-self: center;
    color: rgb(55, 52, 52);
    font-size: 24px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    background-color: rgb(227, 225, 205);
    border: 4px solid black;
    gap: 20px;
    padding:10px 20px;
    
}
.footer{
    margin: 0;
    
    /* height: 50px; */
    /* background-color: rgba(210, 209, 209, 0.992); */
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
i{
    color: black;
}
